body
{
    height: 3000px;
    overflow-x: hidden;
    background: #210002;
}

.hero
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: orange;
}

.hero .layer
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    will-change: transform;
}

.hero .layer img
{
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s;
    will-change: opacity;
}

.hero .layer img.is-loaded
{
    opacity: 1;
}
