*
    margin 0
    padding 0

html
body
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    overflow hidden

canvas
    position absolute
    top 0
    left 0
    background-image radial-gradient(#ffffff 3%, transparent 3%), radial-gradient(#ffffff 3%, transparent 3%)
    background-color #222222
    background-position 0 0, 25px 25px
    background-size 50px 50px
