@font-face {
  font-family: tron;
  src: url(../fonts/tron.TTF);
}

* {
  margin: 0;
  padding: 0;
}
html,
body,
.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.canvas {
  visibility: hidden;
}
.game {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  padding: 20px;
  background: radial-gradient(#232323, #000000);
  color: #ecf0f1;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  text-shadow: 0 0 2px #ecf0f1;
  background: radial-gradient(#232323, #000000);
}
.game__score {
  text-align: left;
  position: absolute;
  left: 5px;
  top: 5px;
}
.game__score span {
  font-weight: bold;
}
.game__title {
  width: 100%;
  margin: 0 auto;
}
.game__title h2 {
  font-size: 3rem;
  font-family: tron;
  text-shadow: 0 0 10px #4ddaff;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.game__title h3 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.game__title ul {
  margin-bottom: 30px;
}
.game__title ul li {
  margin: 5px;
}
.game__touch,
.game__colors {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.game__touch li:not(:last-of-type) {
  margin-right: 20px;
}
.game__touch span {
  display: inline-block;
  padding: 20px;
  border: 1px solid #ecf0f1;
  font-size: 3rem;
}
.game__colors {
  display: flex;
  flex-direction: column;
}
.game__colors input {
  width: 2rem;
  height: 1.5rem;
  cursor: pointer;
  opacity: 0.9;
  transition: ease-out 0.2s;
}
.game__colors input:hover {
  opacity: 1;
  transform: scale(1.1);
}
.game__winner {
  display: none;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.game__winner .value {
  font-weight: bold;
}
.game__launcher {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  text-shadow: 0 0 2px #ecf0f1;
  transition: ease-out 0.3s;
}
.game__launcher:hover {
  transform: scale(1.1) translateY(-2px);
}
.game-start {
  display: none;
}
