body, html 
{
    overflow: hidden;
}

*
{
    margin: 0;
    padding: 0;
}
body 
{
    background: rgb(36, 43, 49);
    user-select: none;
}

body > h1.title
{
    position: absolute;
    width: 585px;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
    color: #717880;
    opacity: 1;
    will-change: opacity;
}

body > h1.title_hidden
{
    position: absolute;
    width: 585px;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
    color: #717880;
    opacity: 0;
    transition: all 2s ease-out 1s;

}

