.shooter
    display flex
    position fixed
    flex-direction column
    align-items center
    justify-content space-around
    top 0
    left 0
    width 100%
    height 100%
    background radial-gradient(#333333, #000000)
    color #555555
    text-transform uppercase
    font-family Helvetica, Arial

    .score
        font-size 40px

        .value
            font-size 120px

    .play
        font-size 80px
        cursor pointer

    .best
        font-size 40px
    
    .targets
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        pointer-events none

        .target
            position absolute
            top 50%
            left 50%
            width 10vmin
            height 10vmin
            background linear-gradient(0deg, #999999, #cccccc)
            border-radius 50%
            box-shadow 10px 10px 10px rgba(0, 0, 0, 0.15)
            pointer-events auto

            &::before
                content: ''
                position absolute
                top calc(50% - 33%)
                left calc(50% - 33%)
                width 66%
                height 66%
                background linear-gradient(0deg, #990000, #cc0000)
                border-radius 50%

            &::after
                content: ''
                position absolute
                top calc(50% - 17%)
                left calc(50% - 17%)
                width 33%
                height 33%
                background linear-gradient(0deg, #999999, #cccccc)
                border-radius 50%
