body
{
    background: #cccccc;
}

.clock
{
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    height: 400px;
    width: 400px;
    background: linear-gradient(to top, #dddddd, #ffffff);
    border-radius: 200px;
    box-shadow: 20px 20px 20px #00000011;
}

.clock .hours,
.clock .minutes,
.clock .seconds
{
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform 0.3s cubic-bezier(0.51, 0.48, 0.58, 1.72);
    will-change: transform;
}

.clock .hours .needle
{
    position: absolute;
    bottom: -2px;
    left: -2px;
    width: 4px;
    height: 100px;
    background: #a98686;
    border-radius: 2px;
    box-shadow: 3px 3px 2px #00000011;
}

.clock .minutes .needle
{
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: 2px;
    height: 150px;
    background: #a98686;
    border-radius: 2px;
    box-shadow: 3px 3px 2px #00000011;
}

.clock .seconds .needle
{
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: 2px;
    height: 150px;
    background: #cc0000;
    border-radius: 2px;
    box-shadow: 3px 3px 2px #00000011;
}