body 
{
    background: #050235;
    margin: 0;
    overflow: hidden;
}
  

@keyframes fadeIn 
{
      from {opacity: 0;}
      to {opacity: 1;}}
  

@keyframes stay 
{
      from {opacity: 1;}
      to {opacity: 1;}
}
  

@keyframes fadeOut 
{
      from {opacity: 1;}
      to {opacity: 0;}
}
  

h1.experiment 
{
    position: absolute;
    top: 10px;
    left: 100px;
    color: white;
    opacity: 0;
    text-shadow: #3BCA03 0 0 40px;
    font-family: 'Space Mono', monospace;
    font-size: 300%;
    animation: fadeIn 2s ease-out, stay 2s 2s, fadeOut 2s 4s;
}


h1 
{
    position: absolute;
    top: 90px;
    left: 100px;
    color: white;
    opacity: 0;
    text-shadow: #3BCA03 0 0 40px;
    font-family: 'Space Mono', monospace;
    animation: fadeIn 2s ease-out, stay 2s 2s, fadeOut 2s 4s;
}


h2 
{
    position: absolute;
    top: 150px;
    left: 100px;
    color: rgb(255, 255, 255);
    opacity: 0;
    text-shadow: #3BCA03 0 0 40px;
    font-family: 'Space Mono', monospace;
    animation: fadeIn 2s ease-out, stay 2s 2s, fadeOut 2s 4s;
}

.warning
{
    position: absolute;
    top: 500px;
    width: 1500px;
}

.warning h1
{
    font-size: 120%;
}

.warning h2
{
    font-size: 100%;
}